.intro {
  background-image: linear-gradient(
      rgba(33, 66, 109, 0.8),
      rgba(33, 66, 109, 0.8)
    ),
    url("../images/administracionrendara.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Efecto Parallax: la imagen se queda fija al hacer scroll */
  color: white;
  text-align: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.intro__title {
  font-size: 48px; /* Más grande para ser el titular principal */
  font-weight: 700;
  color: #dbb60f;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Sombra más sutil */
}

.intro__description {
  font-size: 22px; /* Tamaño más legible para un subtítulo */
  max-width: 750px;
  margin: 0;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
